In [1]:
# typecasting

a = "10" # string
int(a) # syntax for string to int

10

In [2]:
# int value matra linxa
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 3
Enter b = 4
7

In [7]:
a = 10
str(a) # syntax for int to str

'10'

In [6]:
a = 10
float(a) # syntax for int to float

10.0

In [8]:
10 + "10" # not possible to concatenate different datatypes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
i

Enter p = 1000
Enter t = 2.5
Enter r = 10.4

260.0

In [13]:
name = input("Enter name = ")
add = input("Enter add = ")

print("Hello world I am",name,"I am from",add) # output achieved by adding/arranging variables values

Enter name = Ram
Enter add = KTM
Hello world I am Ram I am from KTM

In [1]:
name = input("Enter name = ")
add = input("Enter add = ")

info = "Hello world I am "+name+". I am from "+add # output achieved by concatenation
print(info)
# same output different methods

Enter name = Shyam
Enter add = Chitawan
Hello world I am Shyam. I am from Chitawan

In [2]:
name = input("Enter name = ")
add = input("Enter add = ")
age = int(input("Enter age = "))

info = "Hello world I am "+name+". I am from "+add+". I am "+str(age) # diff datatype concate hudaina so age(int) to age(str) 
print(info) # age lai input dida int hataye pani hunxa i.e. specific datatype nadine

Enter name = Gita
Enter add = Dhading
Enter age = 20
Hello world I am Gita. I am from Dhading. I am 20

In [3]:
a = "Hello World"
print(a*3)

Hello WorldHello WorldHello World

In [4]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [5]:
a = "Hello World\t"
print(a*3)

Hello World	Hello World	Hello World